<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="~/devlandlogo.ico" type="image/x-icon" />
    <link rel="icon" href="~/devlandlogo.ico" type="image/ico" />
    <title>DevLand - Software Development Land</title>
    <!-- Custom CSS -->
    @Styles.Render("~/Content/css")
    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    <div id="loading-div-background">
        <div id="loading-div" class="ui-corner-all">
            <img src='@Url.Content("~/img/loading.gif")' style="margin: 10px;" alt="Loading..." />
            <h2 style="color: gray; font-weight: normal;">
                <label id="lblWaitMessage">
                    Please Wait...
                </label>
            </h2>
        </div>
    </div>

    @Html.Partial("_PartialNav")

    @RenderBody()

    <footer>
        <div class="container">
            <div class="col-md-12 text-center">
                <span class="copyright">Copyright &copy; DevLand 2016</span>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/site")
    @RenderSection("scripts", required: false)
</body>
</html>
